<%= form_with(model: audio, local: true) do |form| %>
  <% if audio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(audio.errors.count, "error") %> prohibited this audio from being saved:</h2>

      <ul>
      <% audio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

<!--  <div class="field">-->
    <%#= form.label :audio %>
    <%#= form.text_field :audio %>
<!--  </div>-->
  <div class="form-group">
                <%#= f.input :images %>
                <%= form.label "Painel Digital  (PDF) * ", class: 'label' %><br>
                <%= form.file_field :audio, direct_upload: true, required: true,accept: "application/pdf" %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
