<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @audio.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @audio.author %>
</p>

<p>
  <strong>Audio:</strong>
  <%= @audio.audio %>
</p>

<%= link_to 'Edit', edit_audio_path(@audio) %> |
<%= link_to 'Back', audios_path %>
